.name{
    text-align: center;
  margin-top: 139px;
  font-size: 300px;
  color: white;
  text-shadow: 5px 5px black;
  font-weight: 700;
  font-style: normal;
}
body{
  background-color: #65C7CE;
}
.home{
    background-image: url("imgs/home2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

span{
    color: #65C7CE;
    background-color: grey;
    border-radius: 4px;
  }
  span:hover{
    background-color: #65C7CE;
    color: grey;
  }
  nav{
    font-size: 40px;
  }
 .header{
  text-align: center;
  font-size: 200px;
  color: white;
  text-shadow: 3px 3px black;
 }
 .card-body{
  background-color: grey;
}
.card {
  max-height: 100%;
}
.card-title{
  color: black;
  font-size: 20px;
}
span{
  color: #65C7CE;
  background-color: grey;
  border-radius: 5px;
}
span:hover{
  background-color: #65C7CE;
  color: grey;
}
button{
  text-align: center;
  background-color: #65C7CE;
  color:grey;
}
h2{
  background-color: grey;
  border-radius: 35px;
  padding: 15px;
}
.house{
  border: 10px solid grey;
  border-radius: 25px;
  height: 500px;
  width: 700px;

}
.list{
  text-align: center;
  font-size: 35px;
  margin-bottom: 100px;
  background-color: grey;
  margin-right: 320px;
  margin-left: 320px;
  border-radius: 50px;
}
ol {
    display: inline-block;
    text-align: left;
  }
  

